<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= content_for?(:title) ? yield(:title) : "Reboot" %></title>
    <%= csrf_meta_tags %>
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <link rel="icon" type="image/png" href="https://files.slack.com/files-pri/T09V59WQY1E-F0A6UD211JS/animal.png?pub_secret=3e17f8e9df">
    <link rel="shortcut icon" type="image/png" href="https://files.slack.com/files-pri/T09V59WQY1E-F0A6UD211JS/animal.png?pub_secret=3e17f8e9df">
    <link rel="stylesheet" href="/stylesheets/application.css?v=18">
    <script defer src="/javascripts/application.js?v=3"></script>
  </head>
  <body data-page="<%= content_for?(:page) ? yield(:page) : '' %>">
    <% if flash[:error] %>
      <div class="flash flash--error"><%= flash[:error] %></div>
    <% end %>
    <% if flash[:success] %>
      <div class="flash flash--success"><%= flash[:success] %></div>
    <% end %>

    <%= yield %>
    <% unless content_for(:page) == "shop" || content_for(:page) == "admin" %>
      <img src="/images/img_2180.png" alt="bottom-left decoration" class="corner-img corner-img--left">
      <img src="/images/untitled_artwork.png" alt="bottom-right decoration" class="corner-img corner-img--right">
    <% end %>
  </body>
</html>
